.posts{
    background-color: #fff;
    margin-top: 15px;
    padding:20px 15px;
}
/**/
.posts .flex1col1{
    width: 226px;
}
/**/
.posts .flex1col2{
    width: 708px;
}
.posts .flex1col2 >h1{
    font-size: 18px;
}
.posts .flex1col2 >div.post-description{
    font-weight: bold;
    line-height: 18px;
    color: #232323;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/**/
.posts .flex1col2 .post-related >h3{
    display: inline-block;
    padding: 0px 10px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background-color: #228f0f;
    border: 1px solid #686a15;
}
.posts .flex1col2 .post-related .flex2col1{
    width: 50%;
    padding:0px 10px;
}
.posts .flex1col2 .post-related ul{
    list-style:none;
    margin-top: 30px;
    padding-left: 0px;
}
.posts .flex1col2 .post-related ul li{
    margin-bottom: 8px;
}
.posts .flex1col2 .post-related ul li h5{
    position: relative;padding-left: 15px;
}
.posts .flex1col2 .post-related ul li h5 i{
    font-size: 5px;
    vertical-align: 3px;
    padding-right: 10px;
    position: absolute;
    left: 0px;
    top:6px;
}
.posts .flex1col2 .post-related ul li h5:hover i{
    color: red;
}
.posts .flex1col2 .post-related ul li h5 a{
    font-size: 14px;
    color: #000;
    font-weight: normal;
}
.posts .flex1col2 .post-related ul li h5 a:hover{
    color: red;
}