/**/
.slidebar >h3{
	height: 33px;
    line-height: 33px;
    border: 1px solid #686a15;
    color: #fff;
    font-size: 14px;
    background-color: #228f0f;
    text-align: center;
}
.slidebar .post{
	margin-bottom: 25px;
	margin-top: 25px;
}
.slidebar .post h3{
	font-size: 13px;
	color: #228f0f;
}
.slidebar .post h3.post-avatar{
	margin-top: 5px;
}
.slidebar .post h4.post-price{
	margin-top: 5px;
	color: #f05c61;
	font-size: 12px;
}
/**/
.slidebar >h3.arrow_box {
	position: relative;
	background: #228f0f;
	border: 1px solid #686a15;
}
.slidebar >h3.arrow_box:after, .slidebar >h3.arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.slidebar >h3.arrow_box:after {
	border-color: rgba(34, 143, 15, 0);
	border-top-color: #228f0f;
	border-width: 8px;
	margin-left: -8px;
}
.slidebar >h3.arrow_box:before {
	border-color: rgba(104, 106, 21, 0);
	border-top-color: #686a15;
	border-width: 8px;
	margin-left: -8px;
}