.banner{
	background-image: url('../../images/desktop/term-1.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 452px;
	padding-top: 400px;
}
.banner div.search{
	height: 52px;
	line-height: 52px;
	background-image: url('../../images/desktop/term-2.png');
	padding:0px 10px;
}
.banner div.search .pull-left i{
	font-size: 30px;
	color: #ff812d;
}
.banner div.search .pull-left{
	color: #242424;
}
.banner div.search .pull-right button:nth-child(2){
	outline: none;
	border:none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	text-align: center;
	color: #b7b7b7;
	font-size: 15px;
	vertical-align: -2px;
	border:1px solid #b7b7b7;
	border-right: none;
}
.banner div.search .pull-right input[type="text"]{
	height: 30px;
	line-height: 30px;
	width: 190px;
	padding-left: 10px;
	outline: none;
	border:none;
	margin-left: -4px;
	border:1px solid #b7b7b7;
	border-left: none;
	border-right: none;
}
.banner div.search .pull-right button:last-child{
	width: 60px;
	color: #fff;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background-color: #04909b;
	outline: none;
	border:none;
	font-size: 12px;
	margin-left: -4px;
	border:1px solid #b7b7b7;
	border-left: none;
	vertical-align: -1px;
	cursor: pointer;
}
/**/
main.term{
	margin-top: 25px;
	border:1px solid #dfdfdf;
	border-top: 2px solid #04909b;
	padding-bottom: 50px;
}
main.term .flex0col1{
	width: 750px;
	border-right: 1px solid #dfdfdf;
	padding:20px;
	padding-right: 5px;
}
main.term .flex0col1 h1{
	color: #04909b;
	font-size: 18px;
	font-weight: normal;
}
main.term .flex0col1 h1 i{
	display: inline-block;
	width: 10px;height: 10px;
	background-color: #04909b;
}
main.term .flex0col2{
	width: 250px;
}
/**/
main.term .flex0col2{
	padding-left: 0px;
	padding-top: 22px;
}
main.term .flex0col2 .row1 >h3{
	font-size: 18px;
	color: #2c2c2c;
	font-weight: normal;
	padding-left: 5px;
}
main.term .flex0col2 .row1 >h4{
	margin-top:10px;
}
/**/
main.term .flex0col2 .row2{
	margin-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px dashed #ececec;
	margin-left: 5px;margin-right: 5px;
}
main.term .flex0col2 .row2 .flex1col1 h5:first-child:hover{
	transform:rotateY(360deg);-ms-transform:rotateY(360deg);-webkit-transform:rotateY(360deg);-o-transform:rotateY(360deg);-moz-transform:rotateY(360deg);transition: all .5s ease-out;moz-transition: all .5s ease-out;-webkit-transition: all .5s ease-out;-o-transition: all .5s ease-out;
}
main.term .flex0col2 .row2 .flex1col1 h5:nth-child(2) a:hover{
	color: red;
	text-decoration: underline;
}
main.term .flex0col2 .row2 .flex1col1 i{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url('../../images/desktop/icon-5.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
main.term .flex0col2 .row2 .flex1col1 i.bg2{
	background-position: -86px 0px; 
}
main.term .flex0col2 .row2 .flex1col1 i.bg3{
	background-position: -170px 0px; 
}
main.term .flex0col2 .row2 .flex1col1{
	width: 33%;
	color: #2b2b2b;
	font-weight: normal;
	font-size: 14px;
}
/**/
main.term .flex0col2 .row3{
	padding:0px 5px;
	padding-top: 25px;
}
main.term .flex0col2 .row3 div.bg{
	padding-left: 55px;
	background-image: url('../../images/desktop/icon-6.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 45px;
}
main.term .flex0col2 .row3 div.bg h3{
	color: #eca419;
	font-size: 30px;
}
main.term .flex0col2 .row3 div.bg h4{
	color: #eca419;
	font-weight: normal;
}
main.term .flex0col2 .row3 div.bg2{
	background-position: 0px -74px;
}
/**/
main.term .flex0col2 .row4{
	padding:0px 5px;
}
main.term .flex0col2 .row4 >div:first-child{
	padding-left:5px;
	height: 50px;
	background-color: #02b9c7;
	color: #fff;
	line-height: 50px;
	font-size: 12px;
}
main.term .flex0col2 .row4 >div:first-child span{
	display: inline-block;
	width: 30px;
	height: 38px;
	background-color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: #eca419;
	line-height: 38px;
	vertical-align: -3px;
}
main.term .flex0col2 .row4 >div:first-child span:last-child{
	margin-left: 3px;
}
main.term .flex0col2 .row4 >div:nth-child(2){
	margin-top: 25px;
}
main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 > div >div{
	padding:0px 2px;font-size: 13px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 div.flex1col2,main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 div.flex1col4{
	width: 8px;
}
main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 div.flex1col1{
	width: 70px;
}
main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 div.flex1col3{
	width: 80px;
}
main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 div.flex1col5{
	width: 80px;
}
main.term .flex0col2 .row4 >div:nth-child(2) div#demo1 > div:nth-child(2n+1){
	background-color: #f5f5f5;
}
main.term .flex0col2 .row4 >div:nth-child(4){
	margin-top: 17px;
}
main.term .flex0col2 .row4 >div:nth-child(4) a{
	width: 105px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 15px;
	background-color: #fa8f03;
}
/**/
main.term .flex0col2 .row5{
	padding:0px 5px;
	margin-top: 25px;
}
main.term .flex0col2 .row5 h3{
	color: #fff;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	background-color: #02b9c7;
	font-weight: normal;
}
main.term .flex0col2 .row5 .flex2{
	margin-top: 5px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 14px;
}
main.term .flex0col2 .row5 .flex2col1{
	height: 40px;
	width: 75px;
	margin-bottom: 5px;
	background-color: #eaeaea;
}
main.term .flex0col2 .row5 h5{
	text-align: center;
	font-size: 11px;
	padding:0px 0px;
}
main.term .flex0col2 .row5 h5 a:hover{
	color: red;
	text-decoration: underline;
}
main.term .flex0col2 .row6{
	margin-top: 23px;
	padding:0px 5px;
}
main.term .flex0col2 .row6 h3{
	color: #079fab;
	font-size: 18px;
	font-weight: normal;
}
main.term .flex0col2 .row6 h4{
	margin-top: 17px;
}
main.term .flex0col2 .row6 ul{
	list-style: none;
}
main.term .flex0col2 .row6 ul li{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #bebebe;
}
main.term .flex0col2 .row6 h5{
	font-weight: normal;
	padding-left: 3px;
}
main.term .flex0col2 .row6 h5 i{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #eca419;
	color: #fff;
	text-align: center;
	margin-right: 10px;
	vertical-align: 0px;
	line-height: 15px;
}
main.term .flex0col2 .row6 h5 i.active{
	background-color: #bebebe;
}
/**/
main.term .flex0col2 a:hover{
	color: red;
}