footer .container{
	background-color: #fff;
	padding-top: 20px;
}
footer .khach-hang{
	padding:0px 5px;
}
footer .khach-hang h3{
	display: inline-block;
	padding:0px 10px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	background-color: #228f0f;
	border: 1px solid #686a15;
}
footer .khach-hang >div{
	padding: 20px 0px;
/*	border-top: 1px solid #d8d5d5;*/
}
/**/
footer menu{
	background-color: #228f0f;
}
footer menu .flex1 .flex1col1{
	width: 16.67%;
}
footer menu .flex1 .flex1col1 div{
	width: 100%;
}
footer menu .flex1 .flex1col1 >div >h3>a{
	height: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
} 
footer menu .flex1 .flex1col1 div.menu-item{
	display: none;
}
footer menu .flex1 .flex1col1:hover div.menu-item{
	display: block;
	bottom:50px;
}
footer menu .flex1 .flex1col1:hover,footer menu .flex1 .flex1col1.active{
	background-color: #0e5f00;
}
footer menu .flex1 .flex1col1 div.menu-item ul{
	list-style: none;
	background-color: #259012;
	width: 220px;
}
footer menu .flex1 .flex1col1 div.menu-item ul li{
	border-bottom: 1px solid #57aa49;
}
footer menu .flex1 .flex1col1 div.menu-item ul li h3 a{
	padding:5px 10px;
	font-weight: normal;
	font-size: 14px;
	display: block;
	color: #fff;
}
footer menu .flex1 .flex1col1 div.menu-item ul li:hover{
	background-color: #0e5f00;
}
footer menu .flex1 .flex1col1 >div>div >h3>a{
	height: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
/**/
footer .footer{
	padding: 30px 0px;
}
footer .footer .flex1col1{
	width: 256px;
}
footer .footer .flex1col2{
	width: 735px;
}
footer .footer .flex1col2 h2{
	font-size: 18px;margin-bottom: 5px;
}
footer .footer .flex1col2 h2:nth-child(2){
	color: #228f0f;margin-bottom: 5px;
}
footer .footer .flex1col2 p{
	margin-bottom: 5px;
}
footer .footer-status{
	background-color: #228f0f;
	height: 5px;
}