.posts{
    background-color: #fff;
    margin-top: 15px;
    padding:20px 15px;
}
/**/
.posts .flex1col1{
    width: 226px;
}
/**/
.posts .flex1col2{
    width: 708px;
}
.posts .flex1col2 >h1{
    font-size: 18px;
}
.posts .flex1col2 >div.post-description{
    font-weight: bold;
    line-height: 18px;
    color: #232323;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}