/**/
.new{
	padding-top: 20px;
}
/**/
.new >h3{
	display: inline-block;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #228f0f;
    border: 1px solid #686a15;
    font-weight: normal;
    font-size: 14px;
}
.new .posts-new{
	margin-top: 10px;
	padding:15px;
}
.new .post-top{
	padding:10px 0px;
	border-bottom: 1px solid #686a15;
}
.new .post-top .flex1col1{
	width: 30%;
}
.new .post-top .flex1col2{
	width: 66%;
}
.new .post-top .flex1col2 h3{
	font-size: 15px;
	color: #1a70ba;
}
.new .post-top .flex1col2 p{
	margin-top: 5px;
	font-size: 13px;
	color: #232323;
}