menu{
	background-color: #228f0f;
	color: #fff;
}
menu .flex1 >div{
	border-right: 1px solid #f1f1f1;
}
menu .flex1 >div:last-child{
	border-right: none;
}
menu .flex1col1{
	width: 15%;
}
menu .flex1col2{
	width: 28%;
}
menu .flex1col2 h3>a{
	display: block;
	padding:11px 1px;
	font-weight: normal;
	font-size: 14px;
}
/*menu-sp*/
div#menu-sp,div#menu-item,div#menu-tuvan {
  transform: scale(0.8);
}
.popup_visible div#menu-sp,.popup_visible div#menu-item,.popup_visible div#menu-tuvan {
  transform: scale(1);
}
/**/
div.mypopup-menu{
	background-color: #fff;
	padding:15px;
	min-width: 240px;
}
div.mypopup-menu h3.title1{
	height: 33px;
	line-height: 33px;
	border:1px solid #686a15;
	color: #fff;
	font-size: 14px;
	background-color: #228f0f;
}
div.mypopup-menu ul{
	list-style: none;
	padding:0px 10px;
}
div.mypopup-menu ul li{
	padding:8px 0px;
	border-bottom: 1px solid #686a15;
}
div.mypopup-menu ul li h4{
	position: relative;
	padding-left: 10px;
}
div.mypopup-menu ul li h4:hover{
	color: red;
}
div.mypopup-menu ul li i{
	position: absolute;
	left: 0px;
	color: red;
	font-size: 12px;
	top:2px;
}
div.mypopup-menu ul li:last-child{
	border-bottom: none;
}
/**/
div#menu-tuvan{
	padding:15px;
	background-color: #fff;
	width: 240px;
}
div#menu-tuvan >h3.title1{
	height: 33px;
	line-height: 33px;
	border:1px solid #686a15;
	color: #fff;
	font-size: 14px;
	background-color: #228f0f;
}
div#menu-tuvan .flex1col1{
	width: 70px;
}
div#menu-tuvan .flex1col1 a{
	display: block;
	width: 100%;
}
div#menu-tuvan .flex1col1 a i{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #f58500;
	background-image: url('../../images/mobile/icon-2.png');
	background-position: 12px 12px;
	background-repeat: no-repeat;
}
div#menu-tuvan .email .flex1col1 a i{
	background-position: 14px -74px;
	background-color: #228f0f;
}
div#menu-tuvan .skype .flex1col1 a i{
	background-position: 14px -171px;
	background-color: #1b93d8;
}
div#menu-tuvan .flex1col2{
	width: 150px;
}
div#menu-tuvan .flex1col2 h3{
	font-weight: normal;
	color: #c31212;
	font-size: 14px;
}
div#menu-tuvan >div{
	margin-top: 20px;
} 