footer{
	margin-top: 20px;
}
footer .flex1col1{
	width: 30%;
	padding-left: 10px;
}
footer .flex1col2{
	width: 68%;
}
footer .flex1col2 h2{
	font-size: 14px;margin-bottom: 5px;
}
footer .flex1col2 h2:nth-child(2){
	color: #228f0f;margin-bottom: 5px;font-size: 14px;
}
footer .flex1col2 h5{
	margin-bottom: 5px;
	font-size: 13px;
}
footer .footer-status{
	background-color: #228f0f;
	height: 5px;
}